@section Styles {
    <link href="@Url.Content("~/css/StyleSheet.css")" rel="stylesheet" type="text/css" />
}
@{
}
<h2>Calendar</h2>
<div class="legend">
    <ul style="width:500px;">
        <li><div class="bs present">P</div> - At work</li>
        <li><div class="bs absent">A</div> - Absent</li>
        <li><div class="bs remote">R</div> -  At remote work</li>
    </ul>
</div>
<div class="table-center">
    <div class="thistable" id="style-7">
        <table class="calendar">
            <thead class="days">
                <tr>
                    <th>&nbsp</th>
                    <th>1.07.2021<br>Thursday</th>
                    <th>2.07.2021<br>Friday</th>
                    <th>3.07.2021<br>Saturday</th>
                    <th>4.07.2021<br>Sunday</th>
                    <th>5.07.2021<br>Monday</th>
                    <th>6.07.2021<br>Tuesday</th>
                    <th>7.07.2021<br>Wednesday</th>
                    <th>8.07.2021<br>Thursday</th>
                    <th>9.07.2021<br>Friday</th>
                    <th>10.07.2021<br>Saturday</th>
                    <th>11.07.2021<br>Sunday</th>
                    <th>12.07.2021<br>Monday</th>
                    <th>13.07.2021<br>Tuesday</th>
                    <th>14.07.2021<br>Wednesday</th>
                    <th>15.07.2021<br>Thursday</th>
                    <th>16.07.2021<br>Friday</th>
                    <th>17.07.2021<br>Saturday</th>
                    <th>18.07.2021<br>Sunday</th>
                    <th style="border: 5px solid rgb(82, 200, 236);">19.07.2021<br>Monday</th>
                    <th>20.07.2021<br>Tuesday</th>
                    <th>21.07.2021<br>Wednesday</th>
                    <th>22.07.2021<br>Thursday</th>
                    <th>23.07.2021<br>Friday</th>
                    <th>24.07.2021<br>Saturday</th>
                    <th>25.07.2021<br>Sunday</th>
                    <th>26.07.2021<br>Monday</th>
                    <th>27.07.2021<br>Tuesday</th>
                    <th>28.07.2021<br>Wednesday</th>
                    <th>29.07.2021<br>Thursday</th>
                    <th>30.07.2021<br>Friday</th>
                </tr>
            </thead>
            <tbody class="employees">
                <tr>
                    <td>Tiger Nixon</td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td class="presentday"><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td></td>
                    <td><div class="bs present">P</div></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td class="presentday"><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ashton Nixon</td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td class="presentday"><div class="bs absent">A</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Gavin Cortez</td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td class="presentday"><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Martena Mccray</td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td class="presentday"><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Unity Butler</td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td class="presentday"><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Howard Hatfield</td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td class="presentday"><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Hope Fuentes</td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td class="presentday"><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Vivian Harrell</td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs remote">R</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs present">P</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td><div class="bs absent">A</div></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td class="presentday"><div class="bs present">P</div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="freeday"></td>
                    <td class="freeday"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>